on:
  push:
    branches:
      - "*"

jobs:
  lint_test_build_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1.0.0
        with:
          deno-version: v1.22.0
      - name: Run deno linter
        run: deno lint
      - name: Run deno tests
        run: deno test --allow-all
      - name: Registry login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push & build docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ascoz/city-api:${{ github.ref_name }}
