on:
  push:
    branches:
      - '*'

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1.0.0
        with:
          deno-version: v1.22.0
      - name: Run deno linter
        run: deno lint
      - name: Run deno tests
        run: deno test --allow-all
