
on:
  push:
    branches: [main]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1.0.0
        with:
          deno-version: v1.22.0 # Run with latest stable Deno.
      #- name: Run deno linter
       # run: deno lint
      #- name: Run deno test
       # run: deno test --allow-all
      # Build and push docker image
      - name: GHCR login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push & build docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: do3-2021/city-api-ts:latest
        
        
