on:
  push:
    branches:
      - 'main'

jobs:
  call_test : 
    uses: ./.github/workflows/tests.yml
  lint_test_build_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Registry login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push & build docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ascoz/city-api:latest
